* {
  box-sizing: border-box;
}

:root {
  --primary-color: #8c8c92;
  --secondary-color: #252527;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Styles the header */

header {
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: var(--secondary-color);
}

/* Styles the name in header */

header h1 {
  background-color: var(--primary-color);
  color: #212022;
  width: 25vw;
  text-align: end;
  padding-right: 4%;
  margin: 3% 0% 3% 0%;
}

/* Styles the navigation bar in header */

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}

header nav a {
  padding: 1%;
  font-size: 1.25em;
  color: var(--primary-color);
  text-decoration-thickness: 0.12em;
  text-underline-offset: 0.75vh;
}

/* Styles the hero banner */

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vh;
  width: 100%;
  position: relative;
}

.hero-banner h2 {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: absolute;
  bottom: 10%;
  right: 4%;
  padding: 0.25em;
}

/* Styles the main content */

.work-container {
  width: 88%;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 5vh;
  margin: 2.5%;
}

/* Styles the main content titles */

.page-section {
  border-right: solid 0.2em var(--secondary-color);
}

.work-container h2 {
  font-size: 2.25em;
  text-align: right;
  padding-right: 1vw;
  
}

/* Styles the portfolio works section */

#myworks {
  display: grid;
  gap: 3vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45vh 20vh 20vh;
  grid-template-areas:
    "surf surf"
    "led calc"
    "pastel run";
}

#myworks a:hover{
  color: var(--primary-color);
  opacity: 1;
}

.descriptors {
  background-color: #8c8c92;
  color: #212022;
  padding: 1%;
  text-decoration: none;
  width: auto;
  position: absolute;
  bottom: 6%;
  pointer-events: none;
}

#surf-report {
  grid-area: surf;
  background-image: url("../images/02-portfolio-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 0.25em #8c8c92;
  position: relative;
  opacity: 0.7;
}

#led-wall {
  grid-area: led;
  background-image: url("../images/02-portfolio-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 0.25em #8c8c92;
  position: relative;
  opacity: 0.7;
}

#calculator {
  grid-area: calc;
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 0.25em #8c8c92;
  position: relative;
  opacity: 0.7;
}

#pastel-puzzels {
  grid-area: pastel;
  background-image: url("../images/02-portfolio-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 0.25em #8c8c92;
  position: relative;
  opacity: 0.7;
}

#run-buddy {
  grid-area: run;
  background-image: url("../images/02-run-buddy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 0.25em #8c8c92;
  position: relative;
  opacity: 0.7;
}

.contacts {
  width: 50%;
  display: flex;
  justify-content: space-around;
}