* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 5vh;
  padding: 1%;
  background-color: #252527;
}

header h1 {
  background-color: #8c8c92;
  color: #212022;
  width: 25vw;
  text-align: end;
  padding-right: 3%;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #8c8c92;
}

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
  color: white;
  display: grid;
  grid-template-columns: 60% 30% 10%;
  grid-template-rows: 70% 20% 10%;
}

h3 {
  background-color: #F5F5F5;
  /* grid-column: 2 / 3; */
}

.work-container {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 5vh;
}

.work-container h2 {
  display: grid;
  justify-content: flex-end;
}

#myworks {
  display: grid;
  gap: 3vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45vh 20vh 20vh;
  grid-template-areas:
  "surf surf"
  "led calc"
  "pastel run";
}

#surf-report {
  grid-area: surf;
  background-image: url("../images/02-portfolio-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#led-wall {
  grid-area: led;
  background-image: url("../images/02-portfolio-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#calculator {
  grid-area: calc;
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#pastel-puzzels {
  grid-area: pastel;
  background-image: url("../images/02-portfolio-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#run-buddy {
  grid-area: run;
  background-image: url("../images/02-run-buddy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
