* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  background-color: #F5F5F5;
}

header h1 {
  justify-content: flex-start;
}

header nav {
  justify-content: flex-end;
}

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-position: center;
  height: 20vh;
  color: white;
  display: grid;
  grid-template-columns: 60% 30% 10%;
  grid-template-rows: 70% 20% 10%;
}

.hero-banner h3 {
  background-color: #F5F5F5;
  grid-row: 2;
}

.work-container {
  display: grid;
  grid-template-columns: 30% 70%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
